<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blaster - Blood and plasma donation during a disaster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<div class="container">
  <div class="mt-4">
    <h4>Donations:</h4>
    <table class="table table-dark table-hover table-bordered" id="donationsTable">
      <caption>List of donations that need action</caption>
      <thead>
        <tr>
          <th id="donorName">Donor Name</th>
          <th id="bloodGroup">Blood Group</th>
          <th id="donationStatus">Donation status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of donations | slice: start : end" (click)="selectDonation(donation)">
          <td>{{donation.donorName}}</td>
          <td>{{donation.bloodGroup}}</td>
          <td>{{donation.donationStatus}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item" *ngIf="start > 0">
                  <button class="page-link" (click)="previous()">Previous</button>
                </li>
                <li class="page-item" *ngIf="end < donations.length">
                  <button class="page-link" (click)="next()">Next</button>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <h4>Donation Details:</h4>
  <form [formGroup]="donorDetailsForm" *ngIf="showDetails">
    <div class="card">
      <div class="card-header bg-primary text-center">
        Donor Details & History
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3"> <label>Aadhar Number:</label> </div>
          <div class="col-3"> <input type="text" formControlName="donorAadhar" disabled> </div>
          <div class="col-3"> <label>Donor Name: </label> </div>
          <div class="col-3"> <input type="text" formControlName="donorName" disabled> </div>
        </div>
        <div class="row">
          <div class="col-3"> <label>Blood Group: </label> </div>
          <div class="col-3"> <input type="text" formControlName="bloodGroup" disabled> </div>
          <div class="col-3"> <label>Donation Date: </label> </div>
          <div class="col-3"> <input type="text" formControlName="donationDate" disabled> </div>
        </div>
        <div class="row">
          <div class="col-3"> <label>Donor Status:</label> </div>
          <div class="col-3"> <input type="text" formControlName="donorStatus" disabled> </div>
          <div class="col-3"> <label>Mobile Number: </label> </div>
          <div class="col-3"> <input type="text" formControlName="donorMobileNumber" disabled> </div>
        </div>
        <div class="row">
          <div class="col-3"> <label>Email Id: </label> </div>
          <div class="col-9"> <input type="text" formControlName="donorEmail" disabled> </div>
        </div>
      </div>
      <div class="card-footer bg-primary">
        <div class="float-right">
          <button class="btn btn-success mr-2" (click)="approve()">Approve</button>
          <button class="btn btn-warning" (click)="reject()">Reject</button>
        </div>
      </div>
    </div>
  </form>
</div>
